* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

.container {
    display: flex;
    align-items: center;
}

.container-left>div.logo {
    position: absolute;
    bottom: 0;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.sign-up-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}