.flex-container {
    display: flex;
    gap: 40px;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero>.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(100, 100, 100, 0.2);
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    min-width: 400px;
}

.form {
    padding: 50px;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form-item {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form-item label {
    margin-bottom: 15px;
    text-align: right;
    width: 120px;
    /* margin-top: 7px; */
    padding-right: 20px;
    font-size: 1rem;
}

.form-item input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 140px;
    height: initial;
    padding: 7px;
    font-size: 14px;
}