body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

/* Flex Layout */

.flex-container {
    display: flex;
    gap: 40px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero>.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(100, 100, 100, 0.2);
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    min-width: 400px;
}

legend {
    background: #701E15;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 0.5em;
}

.form {
    padding: 50px;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form-item {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Form styling */

.form-item label {
    margin-bottom: 15px;
    text-align: right;
    width: 120px;
    padding-right: 20px;
    font-size: 1rem;
}

.form-item input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 140px;
    height: initial;
    padding: 7px;
    font-size: 14px;
}

.form-item input:hover {
    background-color: #EEEEEE;
}

.form-item input:focus {
    border: 1px solid #701E15;
    /* border: 1px solid white; */
    /* outline: none; */
    background-color: #F5C287;
}

.form-item input:valid {
    border: 1px solid #D880A4;
}

.form-item input:invalid {
    border: 1px solid #701E15;
    box-shadow: 0 0 5px 1px #701E15;
}

/* Form validation - add tick for valid, cross for invalid */

.form-item input+span {
    position: relative;
}

.form-item input+span::after {
    font-size: 0.7rem;
    position: absolute;
    padding: 5px 10px;
    top: -26px;
}

.form-item input+span::before {
    position: absolute;
    right: -20px;
    top: 0px;
}

/* .form-item input:invalid+span::before {
    content: '';
} */

.form-item input:valid+span::before {
    content: '✓';
    color: #D880A4;
}

/* Button styling */

button {
    font-size: 16px;
    font-family: inherit;
    color: white;
    background-color: #D880A4;

    border: 0px none white;
    border-radius: 0.5em;

    padding: 10px 40px;
    margin: 20px;
    cursor: pointer;
    /* color: #701E15; */
}

button:hover {
    background-color: #701E15;
}

button:active {
    background-color: #701E15;
    box-shadow: 0 0 5px 1px #D880A4;
}

@media only screen and (max-width: 1183px) {
    .form-item label {
        text-align: left;
    }
}